.transactionHistory {
  margin: 30px;
  width: 500px;
  text-align: center;
  box-shadow: 0px 0px 10px 1px #0b0b0b40;
  border-collapse: collapse;
}

.thead {
  background-color: aqua;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.th {
  padding: 10px;
  border: 1px solid grey;
}
.tbody {
  padding: 10px;
}
.tr {
  border: 1px solid grey;
  color: black;
  font-size: 16px;
}

.td {
  padding: 20px;
  text-transform: uppercase;
}
.td:nth-child(-n + 2) {
  border-right: 1px solid grey;
}
